.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: sans-serif;
}

.inputLockup {
  display: inline-block;
  margin: 0.5em 0;
}

.inputLockup label {
  margin-right: 10px;
}

.textField {
  padding: 5px;
  height: 1em;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid black;
  border-color: rgba(0,0,0,.25);
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}

.button {
  margin: 1em;
  width: 20%;
  background: none;
  padding: 5px 10px;
  border: 1px solid black;
  color: black;
}

